<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Graphs with Cards</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column; /* Set the flex direction to column */
      justify-content: center; /* Center content horizontally */
      align-items: center; /* Center content vertically */
      height: 100vh; /* Set the height of the body to the viewport height */
    }
    .card-upper-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .card-upper {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin: 10px;
      width: 300px;
      height: 100px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .card {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin: 10px;
      width: 300px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .blinking {
      animation: blink 1s infinite;
    }

    @keyframes blink {
      50% {
        background-color: #ff0000;
      }
    }
    .other-pages {
        text-align: center;
        margin-bottom: 20px;
      }

      .other-pages li {
        list-style: none;
        display: inline-block;
        margin-right: 10px;
      }

      .other-pages a {
        text-decoration: none;
        color: #333;
      }

      .other-pages i {
        margin-right: 5px;
      }
      h1 {
        font-size: 36px;
        text-align: center;
        margin-top: 50px;
        color: #333;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      }
      .last-update {
      position: absolute;
      top: 55px;
      right: 200px;
      font-size: 14px;
      color: #666;
    }
  </style>
</head>
<body>
  <h1>Nasa Project Dashboard</h1>
  <div class="last-update">Last Updated: <span id="lastUpdateDate"></span>

  </div>

    <ul class="other-pages">
      <li>
        <a href="/">
          <i class="fas fa-chart-bar"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="/nasa_graph">
          <i class="fas fa-satellite"></i>
          NASA Objects Graph
        </a>
      </li>
      <li>
        <a href="/neotable">
          <i class="fas fa-satellite"></i>
          NASA Objects Table
        </a>
      </li>
      <li>
        <a href="/sun_info">
          <i class="fas fa-sun"></i>
          Sun Info
        </a>
      </li>
      <li>
        <a href="/search_table">
          <i class="fas fa-search"></i>
          Search Table
        </a>
      </li>
    </ul>
  <div class="card-upper-container">
    <div class="card-upper">
      <img src="images/alert.png" alt="Alert" width="50" height="50">
      <h3 style="display: flex; margin-left: 100px; margin-top: -35px;">Critical Events</h3>
      <canvas id="l1" width="300" height="150"></canvas>
    </div>
    <div class="card-upper">
      <img src="images/total.jpg" alt="Total Events" width="50" height="50">
      <h3 style="display: flex; margin-left: 100px; margin-top: -35px;">Summary</h3>
      <canvas id="l2" width="300" height="150"></canvas>
    </div>
    <div class="card-upper">
      <img src="images/last_event.png" alt="Last Event" width="50" height="50">
      <h3 style="display: flex; margin-left: 100px; margin-top: -35px;">Last Event</h3>
      <canvas id="l3" width="300" height="150"></canvas>
    </div>
    <div class="card-upper">
      <img src="images/alertAstroid.png" alt="New Critical Event" width="50" height="50">
      <h3 style="display: flex; margin-left: 100px; margin-top: -35px;">New Critical Event</h3>
      <div id="message-container"></div>
      <canvas id="l4" width="300" height="150"></canvas>
    </div>
    
  </div>
  <div class="card-container">
    <div class="card">
      <h3>Number Of Events From Each Type In The Last Week</h3>
      <canvas id="barChart" width="300" height="150"></canvas>
    </div>

    <div class="card">
      <h3>Number Of Events Today In Every Hour</h3>
      <canvas id="lineChart" width="300" height="150"></canvas>
    </div>

    <div class="card">
      <h3>Number Of Events For Each Urgency Level</h3>
      <canvas id="pieChart" width="300" height="150"></canvas>
    </div>
  </div>

  <script>
      const socket = new WebSocket('ws://localhost:8080');
      socket.addEventListener('message', (event) => {
      const message = JSON.parse(event.data);
      displayMessage(message);
    });
      function displayMessage(message) {
      const messageContainer = document.getElementById('message-container');
      messageContainer.innerText = message.text;
      if (message.blinking) {
        messageContainer.classList.add('blinking');
        
        // Stop blinking after 10 seconds
        setTimeout(() => {
          messageContainer.classList.remove('blinking');
        }, 10000);
      }
      }

    // Function to update the chart data and canvas with dynamic string
    function updateChartData() {
      // Sample data for the charts
      //   const data1Values = <%= JSON.stringify(data1Values) %>;
      //   const data2Values = <%= JSON.stringify(data2Values) %>;
      //   const data3Values = <%= JSON.stringify(data3Values) %>;
      const data1Values = JSON.parse('<%- JSON.stringify(data1Values) %>');
      const data2Values = JSON.parse('<%- JSON.stringify(data2Values) %>');
      const data2Labels = JSON.parse('<%- JSON.stringify(data2Labels) %>');
      const data3Values = JSON.parse('<%- JSON.stringify(data3Values) %>');

      // Update data for Chart 1
      const data1 = {
        labels: ['GRB', 'ABR', 'UVR', 'XRR', 'CMT'],
        datasets: [{
          label: 'Events',
          data: data1Values,
          backgroundColor: ['rgba(255, 99, 132, 0.6)', 'rgba(54, 162, 235, 0.6)', 'rgba(255, 206, 86, 0.6)', 'rgba(75, 192, 192, 0.6)', 'rgba(54, 99, 132, 0.6)'],
          borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(132, 99, 132, 1)'],
          borderWidth: 1
        }]
      };

      // Update data for Chart 2
      const data2 = {
        labels: data2Labels,
        datasets: [{
          label: 'Number Of Events',
          data: data2Values,
          borderColor: 'rgba(75, 192, 192, 1)',
          fill: false
        }]
      };

      // Update data for Chart 3
      const data3 = {
        labels: [1, 2, 3, 4, 5],
        datasets: [{
          data: data3Values,
          backgroundColor: ['rgba(255, 99, 132, 0.6)', 'rgba(54, 162, 235, 0.6)', 'rgba(255, 206, 86, 0.6)', 'rgba(75, 192, 192, 0.6)', 'rgba(54, 99, 132, 0.6)'],
          hoverBackgroundColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(132, 99, 132, 1)']
        }]
      };

      // Create the charts
      const barChart = new Chart(document.getElementById('barChart'), {
        type: 'bar',
        data: data1,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      const lineChart = new Chart(document.getElementById('lineChart'), {
        type: 'line',
        data: data2,
        options: {}
      });

      const pieChart = new Chart(document.getElementById('pieChart'), {
        type: 'pie',
        data: data3,
        options: {}
      });

      // Dynamic string received from the router (replace this with your actual value)
      const urgencies_str = JSON.parse('<%- JSON.stringify(urg_txt) %>');

      // Update the canvas labeled "l1" with the dynamic string and image
      const canvasL1 = document.getElementById('l1');
      const ctxL1 = canvasL1.getContext('2d');
      ctxL1.clearRect(0, 0, canvasL1.width, canvasL1.height); // Clear the canvas before updating
      ctxL1.font = '20px Arial';
      ctxL1.fillText(urgencies_str, 15, 20); // Adjust the position of the string as needed
      ctxL1.stroke();

      const canvasL2 = document.getElementById('l2');
      const events_str = JSON.parse('<%- JSON.stringify(events_txt) %>');
      const ctxL2 = canvasL2.getContext('2d');
      ctxL2.clearRect(0, 0, canvasL2.width, canvasL2.height); // Clear the canvas before updating
      ctxL2.font = '20px Arial';
      ctxL2.fillText(events_str, 15, 20); // Adjust the position of the string as needed
      ctxL2.stroke();

      const canvasL3 = document.getElementById('l3');
      const last_event_str = JSON.parse('<%- JSON.stringify(last_event) %>');
      const ctxL3 = canvasL3.getContext('2d');
      ctxL3.clearRect(0, 0, canvasL3.width, canvasL3.height); // Clear the canvas before updating
      ctxL3.font = '20px Arial';
      ctxL3.fillText(last_event_str, 15, 20); // Adjust the position of the string as needed
      ctxL3.stroke();

      const last_update = document.getElementById('lastUpdateDate');
      const last_update_str = JSON.parse('<%- JSON.stringify(last_updated) %>');
      console.log(last_update_str['last_updated']);
      last_update.textContent = last_update_str['last_updated'];


    }

    // Call the function to update the chart data and canvas with dynamic string initially
    updateChartData();
  </script>
</body>
</html>
